<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Simple Forum:  The Lord of the Rings</h1>
  <hr>
      <% @posts.each do |post| %>
          <div class="alert alert-info" role="alert">
            <h3><%= link_to post.title, post %></h3><%= post.body %>
          </div>
      <% end %>
  <br>
  <%= link_to 'New Topic', new_post_path %>
</div>
